/* vim: set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab : */
div.collapse-component {
  > button:first-of-type {
    //font-size: 112.5%;
    align-items: center;
    appearance: none;
    background-color: var(--kasaMainColor);
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 150%;
    font-weight: 700;
    height: 52px;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0 10px;
    text-align: left;
    width: 100%;

    > div:first-of-type {
      flex-grow: 1;
    }

    > div:last-of-type {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyNSAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjI4OTcgMC43ODk2NjFDMTEuOTU5MSAwLjEyMDI0MiAxMy4wNDYyIDAuMTIwMjQyIDEzLjcxNTcgMC43ODk2NjFMMjMuOTk3OSAxMS4wNzE5QzI0LjY2NzQgMTEuNzQxNCAyNC42Njc0IDEyLjgyODUgMjMuOTk3OSAxMy40OTc5QzIzLjMyODUgMTQuMTY3MyAyMi4yNDE0IDE0LjE2NzMgMjEuNTcyIDEzLjQ5NzlMMTIuNSA0LjQyNTk1TDMuNDI4MDQgMTMuNDkyNkMyLjc1ODYyIDE0LjE2MiAxLjY3MTQ4IDE0LjE2MiAxLjAwMjA2IDEzLjQ5MjZDMC4zMzI2NDYgMTIuODIzMSAwLjMzMjY0NiAxMS43MzYgMS4wMDIwNiAxMS4wNjY2TDExLjI4NDMgMC43ODQzMDZMMTEuMjg5NyAwLjc4OTY2MVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 14px;
      width: 30px;
      transition: transform 0.5s;
    }
  }

  > div:last-of-type {
    display: grid;
    grid-template-rows: min-content 0fr;
    transition: grid-template-rows 500ms;

    > div:first-of-type {
      height: 0;
    }

    > div:last-of-type {
      overflow: hidden;

      > div:first-of-type {
        background-color: #fbfbfb;
        line-height: 1.5;
        padding: 20px;
        white-space: pre-wrap;
      }
    }
  }
}
div.collapse-component.collapse-expanded {
  > button:first-of-type {
    > div:last-of-type {
      transform: rotate(-180deg);
    }
  }

  > div:last-of-type {
    grid-template-rows: min-content 1fr;
  }
}
@media (max-width: 768px) {
  div.collapse-component {
    > button:first-of-type {
      height: 30px;
      font-size: 85%;

      > div:last-of-type {
        height: 8px;
      }
    }

    > div:last-of-type {
      > div:last-of-type {
        > div:first-of-type {
          font-size: 70%;
        }
      }
    }
  }
}

