/* vim: set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab : */
section#selected-location {
  padding: 40px 0;

  .slideshow {
    margin: 0 0 20px 0;
  }

  > div#selected-location-top-area {
    display: flex;

    > div:first-of-type {
      flex-grow: 1;

      h2 {
        color: var(--kasaMainColor);
        font-size: 225%;
        height: 32px;
        padding: 14px 0 0 0;

        + p:first-of-type {
          font-size: 112.5%;
          height: 45px;
          line-height: 45px;
          overflow: hidden;
        }
      }

      > div#selected-location-tags {
        line-height: 30px;
        padding: 16px 0 0 0;

        > div {
          background-color: var(--kasaMainColor);
          border-radius: 10px;
          color: white;
          display: inline-block;
          font-size: 87.5%;
          font-weight: 600;
          height: 25px;
          line-height: 25px;
          padding: 0 10px;
          text-align: center;
          vertical-align: middle;
          width: 115px;
        }

        > div:not(:first-of-type) {
          margin-left: 15px;
        }
      }
    }

    > div:last-of-type {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      > div#selected-location-host {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        height: 91px;
        line-height: 91px;
        white-space: nowrap;

        > span:first-of-type {
          color: var(--kasaMainColor);
          font-size: 112.5%;
          vertical-align: middle;
        }

        > img:first-of-type {
          background-color: #c4c4c4;
          border-radius: 50%;
          height: 64px;
          margin-left: 10px;
          object-fit: cover;
          vertical-align: middle;
          width: 64px;
        }
      }

      > div#selected-location-rating {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        padding: 10px 0 0 0;
        white-space: nowrap;
      }
    }
  }

  > div:last-of-type {
    display: flex;
    padding: 20px 0 0 0;
    gap: 20px;

    > .collapse-component {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: hidden;

      > button:first-of-type {
        font-size: 112.5%;
      }
    }
  }

  .selected-location-star-inactive,
  .selected-location-star-active {
    display: inline-block;
    font-size: 0;
    height: 36px;
    width: 36px;
  }

  .selected-location-star-inactive::before,
  .selected-location-star-active::before {
    content: '';
    display: block;
    height: 100%;
    mask-image: url('/rating-star.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  .selected-location-star-inactive::before {
    background-color: #e3e3e3;
  }

  .selected-location-star-active::before {
    background-color: var(--kasaMainColor);
  }

  @media (max-width: 768px) {
    padding: 15px 0;

    > div#selected-location-top-area {
      flex-direction: column;

      > div:first-of-type {
        flex-grow: 1;

        h2 {
          font-size: 112.5%;
          line-height: 25px;
          height: auto;
          padding: 0;

          + p:first-of-type {
            font-size: 87.5%;
            height: 34px;
            height: auto;
            line-height: 34px;
          }
        }

        > div#selected-location-tags {
          padding: 0;

          > div {
            font-size: 62.5%;
            height: 18px;
            line-height: 18px;
            width: 84px;
          }

          > div:not(:first-of-type) {
            margin-left: 8px;
          }
        }
      }

      > div:last-of-type {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        > div#selected-location-host {
          height: 50px;
          line-height: 50px;

          > span:first-of-type {
            font-size: 75%;
          }

          > img:first-of-type {
            height: 32px;
            width: 32px;
          }
        }

        > div#selected-location-rating {
          padding: 4px 0 0 0;
        }
      }
    }

    > div:last-of-type {
      flex-direction: column;

      > .collapse-component {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;

        > button:first-of-type {
          font-size: 70%;
        }
      }
    }

    .selected-location-star-inactive,
    .selected-location-star-active {
      height: 22px;
      width: 22px;
    }
  }
  /**/
}
