/* vim: set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab : */
section#selected-location {
  padding: 40px 0;

  .slideshow {
    margin: 0 0 20px 0;
  }

  > div#selected-location-top-area {
    display: flex;

    > div:first-of-type {
      flex-grow: 1;

      > div:first-of-type {
        box-sizing: border-box;
        height: auto;
        min-height: 100px;
        padding: 0 0 10px 0;

        > h2 {
          color: var(--kasaMainColor);
          font-size: 225%;
          padding: 12px 0;

          + p:first-of-type {
            font-size: 112.5%;
            overflow: hidden;
          }
        }
      }

      > div#selected-location-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        > div {
          background-color: var(--kasaMainColor);
          border-radius: 10px;
          color: white;
          display: inline-block;
          font-size: 87.5%;
          font-weight: 600;
          height: 25px;
          line-height: 25px;
          min-width: 115px;
          padding: 0 10px;
          text-align: center;
          vertical-align: middle;
          white-space: nowrap;
          width: auto;
        }
      }
    }

    > div:last-of-type {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > div#selected-location-host {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        height: 100px;

        > div:first-of-type {
          align-items: center;
          display: flex;
          white-space: nowrap;

          > span:first-of-type {
            color: var(--kasaMainColor);
            font-size: 112.5%;
          }

          > img:first-of-type {
            background-color: #c4c4c4;
            border-radius: 50%;
            height: 64px;
            margin-left: 10px;
            object-fit: cover;
            width: 64px;
          }
        }
      }

      > div#selected-location-rating {
        margin: -14px 0 0 0;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        white-space: nowrap;
      }
    }
  }

  > div:last-of-type {
    display: flex;
    padding: 20px 0 0 0;
    gap: 20px;

    > .collapse-component {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: hidden;

      > button:first-of-type {
        font-size: 112.5%;
      }
    }
  }

  .selected-location-star-inactive,
  .selected-location-star-active {
    display: inline-block;
    font-size: 0;
    height: 36px;
    width: 36px;
  }

  .selected-location-star-inactive::before,
  .selected-location-star-active::before {
    content: '';
    display: block;
    height: 100%;
    mask-image: url('/rating-star.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  .selected-location-star-inactive::before {
    background-color: #e3e3e3;
  }

  .selected-location-star-active::before {
    background-color: var(--kasaMainColor);
  }

  @media (max-width: 768px) {
    padding: 15px 0;

    > div#selected-location-top-area {
      flex-direction: column;

      > div:first-of-type {

        > div:first-of-type {
          min-height: 46px;

          > h2 {
            font-size: 112.5%;
            height: auto;
            padding: 10px 0;

            + p:first-of-type {
              font-size: 87.5%;
              height: auto;
            }
          }
        }

        > div#selected-location-tags {
          > div {
            font-size: 62.5%;
            height: 18px;
            line-height: 18px;
            min-width: 84px;
          }
        }
      }

      > div:last-of-type {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        > div#selected-location-host {
          height: 60px;

          > div:first-of-type {
            height: inherit;

            > span:first-of-type {
              font-size: 75%;
            }

            > img:first-of-type {
              height: 32px;
              width: 32px;
            }
          }
        }

        > div#selected-location-rating {
          margin: 2px 0 0 0;
        }
      }
    }

    > div:last-of-type {
      padding: 0;
      flex-direction: column;

      > .collapse-component {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;

        > button:first-of-type {
          font-size: 70%;
        }
      }
    }

    .selected-location-star-inactive,
    .selected-location-star-active {
      height: 22px;
      width: 22px;
    }
  }
  /**/
}
