/* vim: set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab : */

body {
  .kasa-logo::before {
    content: '';
    display: inline-block;
    mask-image: url('/logo.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  main {
  }
  footer {
  }
}

