/* vim: set tabstop=2 softtabstop=0 expandtab shiftwidth=2 smarttab : */
div#root:first-of-type {
  > footer {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-size: 75%;
    margin-top: 40px;
    padding: 20px 0;

    > div.kasa-logo:first-of-type {
      width: 60px;
      height: 30px;
      font-size: 0;
    }

    > div.kasa-logo:first-of-type::before {
      background-color: #fff;
      display: block;
      height: 100%;
      mask-position: top;
    }

    > p {
      color: #fff;
    }
  }
}
